<!DOCTYPE html>
<html lang="en">
  <%- include("partials/_header") %>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="/css/aboutstyle.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;700&display=swap"
    />
  </head>
  <body>
    <div class="img">
      <%- include("partials/_menu") %>   
    <div class="login-voting-part">
      <img class="first-page-1" alt="" src="./public/first-page-1@2x.png" />
      <b class="how-uvote-works">How Uvote Works ?</b>
      <img class="front-piece-icon" alt="" src="/images/Frontpiece-2.svg" />

      <img class="image-1-icon" alt="" src="/images/image1.svg" />
    </div>
  </div>
  </body>
</html>
