<!DOCTYPE html>
<html lang="en">
  <%- include("partials/_header") %>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="/css/aboutstyle.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;700&display=swap"
    />
  </head>
  <body>
    <div class="img">
      <%- include("partials/_menu") %>   
    <div class="login-voting-part">
      <img class="first-page-1" alt="" src="./public/first-page-1@2x.png" />
      <b class="how-uvote-works">How Uvote Works ?</b>
      <img class="front-piece-icon" alt="" src="/images/Frontpiece-2.svg" />

      <img class="image-1-icon" alt="" src="/images/image1.svg" />
      <b class="students-register-individually-container">
        <ul class="students-register-individually">
          <li class="then-they-upload">Students register individually.</li>
        </ul>
        <p class="blank-line">&nbsp;</p>
        <ul class="students-register-individually">
          <li class="then-they-upload">
            Then they upload the files to the system, within the time allotted to
            them for the project, explaining what their project aims to achieve.
          </li>
        </ul>
        <p class="blank-line">&nbsp;</p>
        <ul class="students-register-individually">
          <li>
            When the evaluation day comes, everyone votes for the other projects
            out of 5 and the necessary ranking is made.
          </li>
        </ul>
      </b>
    </div>
  </div>
  </body>
</html>
