<!DOCTYPE html>
<html lang="en">
    <%- include("partials/_header") %>
<head>

    <link rel="stylesheet" href="/css/afterlogvotingstyle.css">
    <title>Vote</title>
</head>

<body>
    <%- include("partials/_menu") %>
<div class="rattings-wrapper">
    <div data-projectid="01" class="ratings">
        <span data-rating="5">&#9733</span>
        <span data-rating="4">&#9733</span>
        <span data-rating="3">&#9733</span>
        <span data-rating="2">&#9733</span>
        <span data-rating="1">&#9733</span>
        <button class="submit-btn">Submit</button>
    </div>
</div>
<script src="scripts/script.js"></script>
</body>

</html>