<!DOCTYPE html>
<html lang="en">
    <%- include("partials/_header") %>
<head>

    <title>How to Vote</title>
    <link rel="stylesheet" href="css/beforelogvotingstyle.css">
</head>
<body>
    <%- include("partials/_menu") %>
    <h1>Hello World before login voting</h1>
</body>
</html>