<!DOCTYPE html>
<html lang="en">
    <%- include("partials/_header") %>
<head>

    <title>Profile</title>
    <link rel="stylesheet" href="css/profilestyle.css">
</head>
<body>
    <%- include("partials/_menu") %>
    <div class="text-sci">
        <h2> Hello World profile</h2>
    </div>
</body>
</html>
