<!DOCTYPE html>
<html>
    <%- include("partials/_header") %>
    <link rel="stylesheet" href="/css/projectsstyle.css">
<head>
   <%# <script 
    
    let selectedRating = 0;

    document.querySelectorAll('.star').forEach(star => {
        star.addEventListener('click', function() {
            selectedRating = parseInt(this.getAttribute('data-rating'));
            updateStars();
        });
    };

        function updateStars() {
            document.querySelectorAll('.star').forEach(star => {
                const rating = parseInt(star.getAttribute('data-rating'));
                star.style.color = rating <= selectedRating ? 'orange' : '#555';
            });
        }

        function submitRating() {
            console.log('Selected Rating:', selectedRating);
            // Burada seçilen puanı kullanabilir veya gönderebilirsiniz.
        }
</script>    #%>
</head>
<body>
<%- include("partials/_menu") %>
<div class="img"></div>
<div class="square">
    <div class="button-container">
        <button class="btn">Button 1</button>
        <button class="btn">Button 2</button>
        <button class="btn">Button 3</button>
        <button class="btn">Button 4</button>
        <button class="btn">Button 5</button>
        <button class="btn">Button 6</button>
      </div>
      <div class="button-container">
        <button class="btn">Button 7</button>
        <button class="btn">Button 8</button>
        <button class="btn">Button 9</button>
        <button class="btn">Button 10</button>
        <button class="btn">Button 11</button>
        <button class="btn">Button 12</button>
      </div>
      <div class="button-container">
        <button class="btn">Button 13</button>
        <button class="btn">Button 14</button>
        <button class="btn">Button 15</button>
        <button class="btn">Button 16</button>
        <button class="btn">Button 17</button>
        <button class="btn">Button 18</button>
      </div>
      <div class="button-container">
        <button class="btn">Button 19</button>
        <button class="btn">Button 20</button>
        <button class="btn">Button 21</button>
        <button class="btn">Button 22</button>
        <button class="btn">Button 23</button>
        <button class="btn">Button 24</button>
      </div>
  
</div>
<div class="square2"></div>
<div class="star">

    <input type="radio" id="r1">
    <label for="r1"></label>
   
    <input type="radio" id="r2">
    <label for="r2"></label>
   
    <input type="radio"  id="r3">
    <label for="r3"></label>
   
    <input type="radio" id="r4">
    <label for="r4"></label>
   
    <input type="radio" id="r5">
    <label for="r5"></label>
    <button class="submit-btn">Submit</button>
   
   </div>
</body>
</html>