<!DOCTYPE html>
<html>
<head>
<style>
 .square {
    position: absolute;
    top: 250px;
    left: 50px;
    width: 700px;
    height: 600px;
    opacity: 0.55; 
    background: #003049; 
    border-radius: 20px   
 }
 .button1 {
    position: absolute;
    top: 310px;
    left: 100px;
    width: 70px; 
    height: 70px; 
    opacity: 0.80; 
    background: linear-gradient(180deg, #274C77 0%, #778DA9 41%, #354879 100%); 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    border-radius: 22px
 }
 .button1 {
    position: absolute;
    top: 310px;
    left: 100px;
    width: 70px; 
    height: 70px; 
    opacity: 0.80; 
    background: linear-gradient(180deg, #274C77 0%, #778DA9 41%, #354879 100%); 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    border-radius: 22px
 }
 .button2 {
    position: absolute;
    top: 310px;
    left: 200px;
    width: 70px; 
    height: 70px; 
    opacity: 0.80; 
    background: linear-gradient(180deg, #274C77 0%, #778DA9 41%, #354879 100%); 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    border-radius: 22px
 }
 .button3 {
    position: absolute;
    top: 310px;
    left: 300px;
    width: 70px; 
    height: 70px; 
    opacity: 0.80; 
    background: linear-gradient(180deg, #274C77 0%, #778DA9 41%, #354879 100%); 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    border-radius: 22px
 }
 .button4 {
    position: absolute;
    top: 310px;
    left: 400px;
    width: 70px; 
    height: 70px; 
    opacity: 0.80; 
    background: linear-gradient(180deg, #274C77 0%, #778DA9 41%, #354879 100%); 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    border-radius: 22px
 }
 .button5 {
    position: absolute;
    top: 310px;
    left: 500px;
    width: 70px; 
    height: 70px; 
    opacity: 0.80; 
    background: linear-gradient(180deg, #274C77 0%, #778DA9 41%, #354879 100%); 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    border-radius: 22px
 }
 .button6 {
    position: absolute;
    top: 310px;
    left: 600px;
    width: 70px; 
    height: 70px; 
    opacity: 0.80; 
    background: linear-gradient(180deg, #274C77 0%, #778DA9 41%, #354879 100%); 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    border-radius: 22px
 }
</style>
</head>
<body>

<div class="square"></div>
<div class="button1"></div>
<div class="button2"></div>
<div class="button3"></div>
<div class="button4"></div>
<div class="button5"></div>
<div class="button6"></div>
<div class="button7"></div>
<div class="button8"></div>
<div class="button9"></div>
<div class="button10"></div>
<div class="button11"></div>
<div class="button12"></div>
<div class="button13"></div>
<div class="button14"></div>
<div class="button15"></div>
<div class="button16"></div>
<div class="button17"></div>
<div class="button18"></div>
<div class="button19"></div>
<div class="button20"></div>
<div class="button21"></div>
<div class="button22"></div>
<div class="button23"></div>
<div class="button24"></div>


</body>
</html>