<!DOCTYPE html>
<html lang="en">
<%- include("partials/_header") %>
    <link rel="stylesheet" href="/css/projectsstyle.css">
    <script src="scripts/script.js"></script>

    <head>
        <title>UVote: Projects</title>
    </head>

    <body>

        <div class="img">
            <%- include("partials/_menu") %>
                <div class="container">
                    <div class="content">
                        <div class="button-container">
                            <% for (let i=1; i <=24; i++) { %>
                                <button class="btn" onclick="toggleTik(this, i )">
                                    <%= i %>
                                </button>
                                <% } %>
                        </div>
                    </div>
                    <div class="square2"></div>
                </div>

                <div class="ratings-wrapper">
                    <div data-projectid="01" class="ratings">
                        <button class="submit-btn">Submit</button>
                        <span data-rating="5">&#9733</span>
                        <span data-rating="4">&#9733</span>
                        <span data-rating="3">&#9733</span>
                        <span data-rating="2">&#9733</span>
                        <span data-rating="1">&#9733</span>

                    </div>
                </div>
        </div>

       
    
    </body>

</html>