<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0s">
    <link rel="stylesheet" href="css/projectsstyle.css">
    <title>Projects</title>
</head>

<body>
<div class="rattings-wrapper">
    <div data-projectid="01" class="ratings">
        <span data-rating="5">&#9733</span>
        <span data-rating="5">&#9733</span>
        <span data-rating="5">&#9733</span>
        <span data-rating="5">&#9733</span>
        <span data-rating="5">&#9733</span>
    </div>
</div>
</body>

</html>