<!DOCTYPE html>
<html lang="en">
<%- include("partials/_header") %>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/resultsstyle.css">
  <link rel="stylesheet" href="/css/resultsstyle.css"> <!-- Gerekli stil dosyasını ekleyin -->
  <title>UVote: Projects</title>
</head>
<body>
  <div class="img">
    <%- include("partials/_menu") %>
    <div class="square"></div>
  </div>
</body>
</html>
