<!DOCTYPE html>
<html lang="en">
    <%- include("partials/_header") %>
<head>
    <title>UVote : Results</title>
    <link rel="stylesheet" href="/css/resultsstyle.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <div class="img">
        <% include("partials/_menu") %>
        <div class="container">
            <h2> Voting Results</h2>
            <div class="content">
                <canvas id="myChart" width="400" height="400"></canvas>
                <script>
                    // Assuming you have the resultVotes data available
                    console.log("resultVotes:", <%- JSON.stringify(resultVotes) %>); // Check console log
                    const resultVotes = <%- JSON.stringify(resultVotes) %>;

                    // Extract data for chart
                    const labels = resultVotes.map(result => result.projectNumber);
                    const data = resultVotes.map(result => result.resultVote);

                    // Sort data to get the top 10 projects
                    const sortedData = data.slice().sort((a, b) => b - a).slice(0, 10);
                    const sortedLabels = labels.slice(0, 10);

                    // Create a bar chart
                    const ctx = document.getElementById('myChart').getContext('2d');
                    const myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: sortedLabels,
                            datasets: [{
                                label: 'Top 10 Vote Statistics',
                                data: sortedData,
                                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                                borderColor: 'rgba(75, 192, 192, 1)',
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                </script>
            </div>
        </div>
    </div>
</body>

</html>
