<!DOCTYPE html>
<html lang="en">
    <%- include("partials/_header") %>
<head>
    <title>UVote : Results</title>
    <link rel="stylesheet" href="/css/results.css">
</head>

<body>
    <div class="img">
        <%- include("partials/_menu") %>
    <div class="container">
        <h2> Voting Results</h2>
        <div class="content">

        </div>
    </div>
</div>
</body>

</html>