/* Reset some default styles */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa';
}

.img {
    background: url("/images/pxfuel.jpg") no-repeat;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

section {
    margin: 170px auto; 
    max-width: 700px;
    background-color: #151c2d;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
.text-contact {
    text-align: center; 
}
.text-contact h2 {
    color: #f2f2f2;
    font-size: 40px; 
    font-weight: bold; 
}
form {
    display: grid;
    grid-gap: 15px;
}

label {
    font-weight: bold;
    color: #f2f2f2;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid #2B2A4C;

    border-radius: 4px;
}

button {
    background-color: #625f6e;
    color: #f2f2f2;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #7a778a;
}

footer {
    background-color: #333;
    color: #f2f2f2;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}