@import url('https://fonts.cdnfonts.com/css/comfortaa');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa';
}

.header {
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: rgba(29, 53, 87, 0.75);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  z-index: 100;
}

.navbar {
  text-align: right;
  width: 95%; 
}
.logo a {
  text-decoration: none;
  color: #f2f2f2;
  font-weight: 700;
  margin-left: 50px;
  white-space: nowrap;
  font-size: 45px;
}
.navbar a {
  position: relative;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #f2f2f2;
  text-decoration-line: none;
  margin-right: 40px;
  display: inline-block; /* Dikey hizalama için eklenmiş bir satır */
}

.navbar a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background: #f2f2f2;
  border-radius: 5px;
  transform: translateY(5px);
  transition: 0.5s;
  opacity: 0%;
}

.navbar a:hover::after {
  transform: translateY(0);
  opacity: 100%;
}

.img {
  background: url("/images/pxfuel.jpg") no-repeat;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
