@import url('https://fonts.cdnfonts.com/css/comfortaa');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,500,600,700,800,900');

body{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Comfortaa';
overflow: hidden; 
}