body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa';
     overflow-y: hidden;
    }
.img {
   position: relative;
   width: 100%;
   height: 100vh;
   background: url("/images/pxfuel.jpg") no-repeat;
   background-size: cover;
   background-position: center;
  }
  .rattings-wrapper {
      *{
      position: absolute;
      top:400px;
      left:100px;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  body{
      font-family: sans-serif;
      min-height: 100;
      color: #999;
      padding: 30px;
  }
  .ratings {
   display: flex;
   align-items: center;
   flex-direction: row-reverse;
}

.star {
   cursor: pointer;
   color: #555;
   font-size: 50px;
   padding: 0 10px;
   display: inline-block;
   margin-bottom: 20px;
}

.submit-btn {
   margin-left: 10px;
   padding: 5px 10px;
   cursor: pointer;
}

.ratings span{
   cursor: pointer;
   transition: color .2s, transform .2s;
   font-size: 50px;
}

.ratings span:hover{
   color: orange;
   transform: scale(1.3);
}

.ratings span:hover ~ span{
   color: orange;
}
  }
   .square {
      position: absolute;
      top: 250px;
      left: 50px;
      width: 670px;
      height: 500px;
      opacity: 0.55; 
      background: #003049; 
      border-radius: 20px   
   }
   .square2 {
      position: absolute;
      top: 150px;
      left: 1200px;
      width: 670px;
      height: 800px;
      opacity: 0.85; 
      background: #003049; 
      border-radius: 20px   
   }
   /*.button1 {
      position: absolute;
      top: 310px;
      left: 100px;
      width: 70px; 
      height: 70px; 
      opacity: 0.80; 
      background: linear-gradient(180deg, #274C77 0%, #778DA9 41%, #354879 100%); 
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
      border-radius: 22px
   }*/
   .button-container {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }
    .btn {
        margin-top: 35px;
        margin-left: 20px;
        margin-right: 20px;
        top: 310px;
        left: 100px;
        width: 70px; 
        height: 70px; 
        opacity: 0.80; 
        background: linear-gradient(180deg, #274C77 0%, #778DA9 41%, #354879 100%); 
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
        border-radius: 22px;
        font-size: 20px;
    }
    .tik-isareti {
      position: absolute;
      top: 0%;
      left: 15%;
      transform: translate(-50%, -50%);
      display: none; /* Başlangıçta gizli */
      color: #00ff00; /* Yeşil renk kodu */
      font-size: 20px;
    }
    
  .btn:hover .tik-isareti,
  .btn.active .tik-isareti {
      display: block;
    }
  .star {
   width: 400px;
   position: absolute;
   top: 800px;
   left: 370px;
   transform: translate(-50%, -50%);
 }
 
 .star > * {
   float: right;
 }
 
 .star label {
   height: 50px;
   width: 50px;
   position: relative;
   cursor: pointer;
   padding: 0 10px;
 }
 
 .star label:nth-of-type(5):after {
   animation-delay: 0.5s;
 }
 
 .star label:nth-of-type(4):after {
   animation-delay: 0.4s;
 }
 
 .star label:nth-of-type(3):after {
   animation-delay: 0.3s;
 }
 
 .star label:nth-of-type(2):after {
   animation-delay: 0.2s;
 }
 
 .star label:nth-of-type(1):after {
   animation-delay: 0.1s;
 }
 
 .star label:after {
   transition: all 1s ease-out;
   position: absolute;
   content: '☆';
   color: orange;
   font-size: 65px;
 }
 
 .star input {
   display: none;
 }
 
 .star input:checked + label:after,
 .star input:checked ~ label:after {
   content: '★';
   color: gold;
   text-shadow: 0 0 10px gold;
 }
 .submit-btn {
   position: relative;
   top: -10px;
   left: 90px;
   margin-left: 10px;
   padding: 5px 10px;
   cursor: pointer;
}