@import url('https://fonts.cdnfonts.com/css/comfortaa');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,500,600,700,800,900');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa';
    overflow: hidden;
}

.img {
    background: url("/images/pxfuel.jpg") no-repeat;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.container {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -45%);
    width: 85%;
    height: 750px;
    background: transparent;
    border-radius: 10px;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;   
    flex-wrap: wrap;
}


.square {
   width: 40%;
   padding: 20px;
   height: 450px;
   opacity: 0.55;
   background: #003049;
   border-radius: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.square2 {
    width: 50%; 
    height: 750px;
    opacity: 0.85;
    background: #003049;
    border-radius: 20px;
}

.ratings-wrapper {
   position: absolute;
   top: 700px;
   left: 400px;
}

.ratings {
   display: flex;
   align-items: center;
   flex-direction: row-reverse;
}

.submit-btn {
   background-color: #0b132c;
   color: #f2f2f2;
   border: none;
   border-radius: 4px;
   margin-left: 20px; /* Sağa boşluk ekleyerek submit düğmesini yıldızların sağında konumlandırın */
   padding: 20px 20px; /* Submit düğmesinin boyutunu artırın */
   cursor: pointer;
}
.submit-btn:hover {
   background-color: #1d4861;
}

.ratings span {
   color: #b6c7e3;
   cursor: pointer;
   transition: color .2s, transform .2s;
   font-size: 60px; /* Yıldızların boyutunu artırın */
   padding: 0 5px; /* Yıldızlar arasındaki boşluğu artırın */
   display: inline-block;
}

.ratings span:hover {
   color: orange;
   transform: scale(1.3);
}

.ratings span:hover~span {
   color: orange;
}

.buttons {
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   grid-gap: 30px; 
   grid-row-gap: 40px;
   justify-content: start;
   align-items: center;
}
.button1 {
   width: 70px; 
   height: 70px; 
   opacity: 0.80; 
   background: linear-gradient(180deg, #274C77 0%, #778DA9 41%, #354879 100%); 
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
   border-radius: 22px;
}
.button2 {
   width: 70px; 
   height: 70px; 
   opacity: 0.80; 
   background: linear-gradient(180deg, #274C77 0%, #778DA9 41%, #354879 100%); 
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
   border-radius: 22px;
}
.button3 {
   width: 70px; 
   height: 70px; 
   opacity: 0.80; 
   background: linear-gradient(180deg, #274C77 0%, #778DA9 41%, #354879 100%); 
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
   border-radius: 22px;
}
.button4 {
   width: 70px; 
   height: 70px; 
   opacity: 0.80; 
   background: linear-gradient(180deg, #274C77 0%, #778DA9 41%, #354879 100%); 
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
   border-radius: 22px;
}
.button5 {
   width: 70px; 
   height: 70px; 
   opacity: 0.80; 
   background: linear-gradient(180deg, #274C77 0%, #778DA9 41%, #354879 100%); 
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
   border-radius: 22px;
}
.button6 {
   width: 70px; 
   height: 70px; 
   opacity: 0.80; 
   background: linear-gradient(180deg, #274C77 0%, #778DA9 41%, #354879 100%); 
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
   border-radius: 22px;
}
.button7 {
   width: 70px; 
   height: 70px; 
   opacity: 0.80; 
   background: linear-gradient(180deg, #274C77 0%, #778DA9 41%, #354879 100%); 
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
   border-radius: 22px;
}
.button8 {
   width: 70px; 
   height: 70px; 
   opacity: 0.80; 
   background: linear-gradient(180deg, #274C77 0%, #778DA9 41%, #354879 100%); 
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
   border-radius: 22px;
}
.button9 {
   width: 70px; 
   height: 70px; 
   opacity: 0.80; 
   background: linear-gradient(180deg, #274C77 0%, #778DA9 41%, #354879 100%); 
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
   border-radius: 22px;
}
.button10 {
   width: 70px; 
   height: 70px; 
   opacity: 0.80; 
   background: linear-gradient(180deg, #274C77 0%, #778DA9 41%, #354879 100%); 
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
   border-radius: 22px;
}
.button11 {
   width: 70px; 
   height: 70px; 
   opacity: 0.80; 
   background: linear-gradient(180deg, #274C77 0%, #778DA9 41%, #354879 100%); 
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
   border-radius: 22px;
}
.button12 {
   width: 70px; 
   height: 70px; 
   opacity: 0.80; 
   background: linear-gradient(180deg, #274C77 0%, #778DA9 41%, #354879 100%); 
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
   border-radius: 22px;
}
.button13 {
   width: 70px; 
   height: 70px; 
   opacity: 0.80; 
   background: linear-gradient(180deg, #274C77 0%, #778DA9 41%, #354879 100%); 
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
   border-radius: 22px;
}
.button13 {
   width: 70px; 
   height: 70px; 
   opacity: 0.80; 
   background: linear-gradient(180deg, #274C77 0%, #778DA9 41%, #354879 100%); 
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
   border-radius: 22px;
}
.button14 {
   width: 70px; 
   height: 70px; 
   opacity: 0.80; 
   background: linear-gradient(180deg, #274C77 0%, #778DA9 41%, #354879 100%); 
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
   border-radius: 22px;
}
.button15 {
   width: 70px; 
   height: 70px; 
   opacity: 0.80; 
   background: linear-gradient(180deg, #274C77 0%, #778DA9 41%, #354879 100%); 
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
   border-radius: 22px;
}
.button16 {
   width: 70px; 
   height: 70px; 
   opacity: 0.80; 
   background: linear-gradient(180deg, #274C77 0%, #778DA9 41%, #354879 100%); 
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
   border-radius: 22px;
}
.button17 {
   width: 70px; 
   height: 70px; 
   opacity: 0.80; 
   background: linear-gradient(180deg, #274C77 0%, #778DA9 41%, #354879 100%); 
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
   border-radius: 22px;
}
.button18 {
   width: 70px; 
   height: 70px; 
   opacity: 0.80; 
   background: linear-gradient(180deg, #274C77 0%, #778DA9 41%, #354879 100%); 
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
   border-radius: 22px;
}
.button19 {
   width: 70px; 
   height: 70px; 
   opacity: 0.80; 
   background: linear-gradient(180deg, #274C77 0%, #778DA9 41%, #354879 100%); 
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
   border-radius: 22px;
}
.button20 {
   width: 70px; 
   height: 70px; 
   opacity: 0.80; 
   background: linear-gradient(180deg, #274C77 0%, #778DA9 41%, #354879 100%); 
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
   border-radius: 22px;
}
.button21 {
   width: 70px; 
   height: 70px; 
   opacity: 0.80; 
   background: linear-gradient(180deg, #274C77 0%, #778DA9 41%, #354879 100%); 
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
   border-radius: 22px;
}
.button22 {
   width: 70px; 
   height: 70px; 
   opacity: 0.80; 
   background: linear-gradient(180deg, #274C77 0%, #778DA9 41%, #354879 100%); 
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
   border-radius: 22px;
}
.button23 {
   width: 70px; 
   height: 70px; 
   opacity: 0.80; 
   background: linear-gradient(180deg, #274C77 0%, #778DA9 41%, #354879 100%); 
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
   border-radius: 22px;
}
.button24 {
   width: 70px; 
   height: 70px; 
   opacity: 0.80; 
   background: linear-gradient(180deg, #274C77 0%, #778DA9 41%, #354879 100%); 
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
   border-radius: 22px;
}
