body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa';
    }
.img {
    background: url("/images/pxfuel.jpg") no-repeat;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .rattings-wrapper {
      *{
        position: absolute;
        top:400px;
        left:100px;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
  }
  body{
      font-family: sans-serif;
      min-height: 100;
      color: #999;
      padding: 30px;
  }
  .ratings {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
  }
  
  .star {
      cursor: pointer;
      color: #ece5e5;
      font-size: 50px;
      padding: 0 10px;
      display: inline-block;
      margin-bottom: 20px;
  }
  
  .submit-btn {
      margin-left: 10px;
      padding: 5px 10px;
      cursor: pointer;
  }
  
  .ratings span{
      cursor: pointer;
      transition: color .2s, transform .2s;
      font-size: 50px;
  }
  
  .ratings span:hover{
      color: orange;
      transform: scale(1.3);
  }
  
  .ratings span:hover ~ span{
      color: orange;
  }
  }
   .square {
      position: absolute;
      top: 250px;
      left: 50px;
      width: 670px;
      height: 500px;
      opacity: 0.55; 
      background: #003049; 
      border-radius: 20px   
   }
   .square2 {
      position: absolute;
      top: 150px;
      left: 1200px;
      width: 670px;
      height: 800px;
      opacity: 0.85; 
      background: #003049; 
      border-radius: 20px   
   }
   .button1 {
      position: absolute;
      top: 310px;
      left: 100px;
      width: 70px; 
      height: 70px; 
      opacity: 0.80; 
      background: linear-gradient(180deg, #274C77 0%, #778DA9 41%, #354879 100%); 
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
      border-radius: 22px
   }
   .button1 {
      position: absolute;
      top: 310px;
      left: 100px;
      width: 70px; 
      height: 70px; 
      opacity: 0.80; 
      background: linear-gradient(180deg, #274C77 0%, #778DA9 41%, #354879 100%); 
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
      border-radius: 22px
   }
   .button2 {
      position: absolute;
      top: 310px;
      left: 200px;
      width: 70px; 
      height: 70px; 
      opacity: 0.80; 
      background: linear-gradient(180deg, #274C77 0%, #778DA9 41%, #354879 100%); 
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
      border-radius: 22px
   }
   .button3 {
      position: absolute;
      top: 310px;
      left: 300px;
      width: 70px; 
      height: 70px; 
      opacity: 0.80; 
      background: linear-gradient(180deg, #274C77 0%, #778DA9 41%, #354879 100%); 
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
      border-radius: 22px
   }
   .button4 {
      position: absolute;
      top: 310px;
      left: 400px;
      width: 70px; 
      height: 70px; 
      opacity: 0.80; 
      background: linear-gradient(180deg, #274C77 0%, #778DA9 41%, #354879 100%); 
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
      border-radius: 22px
   }
   .button5 {
      position: absolute;
      top: 310px;
      left: 500px;
      width: 70px; 
      height: 70px; 
      opacity: 0.80; 
      background: linear-gradient(180deg, #274C77 0%, #778DA9 41%, #354879 100%); 
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
      border-radius: 22px
   }
   .button6 {
      position: absolute;
      top: 310px;
      left: 600px;
      width: 70px; 
      height: 70px; 
      opacity: 0.80; 
      background: linear-gradient(180deg, #274C77 0%, #778DA9 41%, #354879 100%); 
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
      border-radius: 22px
   }
   .button7 {
      position: absolute;
      top: 410px;
      left: 100px;
      width: 70px; 
      height: 70px; 
      opacity: 0.80; 
      background: linear-gradient(180deg, #274C77 0%, #778DA9 41%, #354879 100%); 
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
      border-radius: 22px
   }
   .button8 {
      position: absolute;
      top: 410px;
      left: 200px;
      width: 70px; 
      height: 70px; 
      opacity: 0.80; 
      background: linear-gradient(180deg, #274C77 0%, #778DA9 41%, #354879 100%); 
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
      border-radius: 22px
   }
   .button9 {
      position: absolute;
      top: 410px;
      left: 300px;
      width: 70px; 
      height: 70px; 
      opacity: 0.80; 
      background: linear-gradient(180deg, #274C77 0%, #778DA9 41%, #354879 100%); 
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
      border-radius: 22px
   }
   .button10 {
      position: absolute;
      top: 410px;
      left: 400px;
      width: 70px; 
      height: 70px; 
      opacity: 0.80; 
      background: linear-gradient(180deg, #274C77 0%, #778DA9 41%, #354879 100%); 
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
      border-radius: 22px
   }
   .button11 {
      position: absolute;
      top: 410px;
      left: 500px;
      width: 70px; 
      height: 70px; 
      opacity: 0.80; 
      background: linear-gradient(180deg, #274C77 0%, #778DA9 41%, #354879 100%); 
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
      border-radius: 22px
   }
   .button12 {
      position: absolute;
      top: 410px;
      left: 600px;
      width: 70px; 
      height: 70px; 
      opacity: 0.80; 
      background: linear-gradient(180deg, #274C77 0%, #778DA9 41%, #354879 100%); 
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
      border-radius: 22px
   }
   .button13 {
      position: absolute;
      top: 510px;
      left: 100px;
      width: 70px; 
      height: 70px; 
      opacity: 0.80; 
      background: linear-gradient(180deg, #274C77 0%, #778DA9 41%, #354879 100%); 
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
      border-radius: 22px
   }
   .button13 {
      position: absolute;
      top: 510px;
      left: 100px;
      width: 70px; 
      height: 70px; 
      opacity: 0.80; 
      background: linear-gradient(180deg, #274C77 0%, #778DA9 41%, #354879 100%); 
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
      border-radius: 22px
   }
   .button14 {
      position: absolute;
      top: 510px;
      left: 200px;
      width: 70px; 
      height: 70px; 
      opacity: 0.80; 
      background: linear-gradient(180deg, #274C77 0%, #778DA9 41%, #354879 100%); 
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
      border-radius: 22px
   }
   .button15 {
      position: absolute;
      top: 510px;
      left: 300px;
      width: 70px; 
      height: 70px; 
      opacity: 0.80; 
      background: linear-gradient(180deg, #274C77 0%, #778DA9 41%, #354879 100%); 
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
      border-radius: 22px
   }
   .button16 {
      position: absolute;
      top: 510px;
      left: 400px;
      width: 70px; 
      height: 70px; 
      opacity: 0.80; 
      background: linear-gradient(180deg, #274C77 0%, #778DA9 41%, #354879 100%); 
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
      border-radius: 22px
   }
   .button17 {
      position: absolute;
      top: 510px;
      left: 500px;
      width: 70px; 
      height: 70px; 
      opacity: 0.80; 
      background: linear-gradient(180deg, #274C77 0%, #778DA9 41%, #354879 100%); 
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
      border-radius: 22px
   }
   .button18 {
      position: absolute;
      top: 510px;
      left: 600px;
      width: 70px; 
      height: 70px; 
      opacity: 0.80; 
      background: linear-gradient(180deg, #274C77 0%, #778DA9 41%, #354879 100%); 
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
      border-radius: 22px
   }
   .button19 {
      position: absolute;
      top: 610px;
      left: 100px;
      width: 70px; 
      height: 70px; 
      opacity: 0.80; 
      background: linear-gradient(180deg, #274C77 0%, #778DA9 41%, #354879 100%); 
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
      border-radius: 22px
   }
   .button20 {
      position: absolute;
      top: 610px;
      left: 200px;
      width: 70px; 
      height: 70px; 
      opacity: 0.80; 
      background: linear-gradient(180deg, #274C77 0%, #778DA9 41%, #354879 100%); 
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
      border-radius: 22px
   }
   .button21 {
      position: absolute;
      top: 610px;
      left: 300px;
      width: 70px; 
      height: 70px; 
      opacity: 0.80; 
      background: linear-gradient(180deg, #274C77 0%, #778DA9 41%, #354879 100%); 
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
      border-radius: 22px
   }
   .button22 {
      position: absolute;
      top: 610px;
      left: 400px;
      width: 70px; 
      height: 70px; 
      opacity: 0.80; 
      background: linear-gradient(180deg, #274C77 0%, #778DA9 41%, #354879 100%); 
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
      border-radius: 22px
   }
   .button23 {
      position: absolute;
      top: 610px;
      left: 500px;
      width: 70px; 
      height: 70px; 
      opacity: 0.80; 
      background: linear-gradient(180deg, #274C77 0%, #778DA9 41%, #354879 100%); 
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
      border-radius: 22px
   }
   .button24 {
      position: absolute;
      top: 610px;
      left: 600px;
      width: 70px; 
      height: 70px; 
      opacity: 0.80; 
      background: linear-gradient(180deg, #274C77 0%, #778DA9 41%, #354879 100%); 
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
      border-radius: 22px
   }