
@import url('https://fonts.cdnfonts.com/css/comfortaa');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

body{
font-family: 'Comfortaa';
overflow: hidden; 
}
/*-- header --*/
.header-area {
    
    width: 97.9%;
    background: rgba(29, 53, 87, 0.75);
    height: 80px;
    padding: 23px 20px;
    justify-content: space-between;
    z-index: 1;
}
.logo a {
    padding: 10px 5px;
    text-decoration: none;
    color: #f2f2f2;
   
    font-weight: 700;
    white-space: nowrap;
    font-size: 35px;
  }

.navbar-area {
    float: left;
}

.site-navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.site-navbar ul li a {
    position: relative;
    color: #f2f2f2;
    font-size: 30px;
    display: block;
    text-decoration: none;
    padding:0px;
    font-weight: 600;
}

.site-navbar ul li {
    padding-right: 60px;
}

.site-navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: #f2f2f2;
    border-radius: 5px;
    transform: translateY(5px);
    transition: 0.5s;
    opacity: 0%;
  }
  
  .site-navbar a:hover::after {
    transform: translateY(0);
    opacity: 100%;
  }